
{{#if messages.message}}
     <p class="error-msg">{{messages.message}}</p>
{{/if}}
{{#each postData}}
    <div class="post-section">
    <div class="post-container">
        <div class="user-details">
            <div class="profile-image-box">
                <img src="{{this.[User.profileImage]}}" alt="user" class="profile-image" >
            </div>
            <span>{{this.[User.name]}}</span>
        </div>
        <p class="tag-container">
            {{#each this.tag}}
                <span class="post-tag">#{{this}}</span>
            {{/each }}
        </p>
        <img src="{{this.image}}" alt="post image" class="post-image">
       <p class="fw-bold">{{this.title}}</p>
       <div class="comment-container">
            {{#if ../postComments}} 
                {{#each ../postComments}}
                    
                    <div class="user-details">
                            <div class="profile-image-box">
                                <img src="{{this.[User.profileImage]}}" alt="user" class="profile-image" >
                            </div>
                        <span class="fw-bold">{{this.[User.name]}}:</span>
                        <span class="comment">{{this.title}}</span>
                    <form action="/posts/comment/delete" method="POST" class="delete-comment-form">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <input type="hidden" name="UserId" value="{{this.UserId}}">
                            <input type="hidden" name="PostId" value="{{this.PostId}}">
                        
                            <button type="submit" ><i class="bi bi-x-circle-fill"></i></button>
                       
                        </form>   
                    </div>
                   
                    <hr>
                {{/each}}
            {{/if}}
           
       </div>
       <form  method="post" class="form-comment">
            <input type="hidden" name="id" value="{{this.id}}">
            <textarea name="title"  cols="30" rows="1" placeholder="insira um comentário" class="comment-area" required></textarea>
            <button type="submit"><i class="bi bi-arrow-up-right-square-fill"></i></button>
       </form>
    </div>
</div>
{{/each}}